<style>
  .navbar {
    background-color: purple;
    color: white;
  }

  .navbar a {
    color: white;
  }
</style>


<nav class="navbar">
  <ul>
    <li class="nav-item"><a href="/about">About</a></li>
    <li class="nav-item"><a href="/orders">Order</a></li>
    <li class="nav-item"><a href="/locations">Locations</a></li>
    <li class="nav-item"><a href="/logout">Logout</a></li>
  </ul>
</nav>
