
<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
          <h1 class ="title" id="navtitle" class="indexcat">TACOCAT</h1>
            <div class="navbarbootstrap">
                <%=image_tag "1012187_1.jpg", :size => "200x200"%>
              <div class="social">
                  <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-facebook" target="_blank"></a>
                  <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-twitter" target="_blank"></a>
                  <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-youtube" target="_blank"></a>
                  <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-snapchat" target="_blank"></a>
                  <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-instagram" target="_blank"></a>
                  <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-spotify" target="_blank"></a>
              </div>
            </div>
        </div>
        <div class="navlinks">
        <ul class="list-unstyled components">
              <li>
                  <a id="linkhome" href="/">Home</a>
              </li>
            <li>
                <a id="linkabout" href="/about">About</a>
            </li>
            <li>
                <a id="linkprofile" href="<%=user_path(current_user)%>">Profile</a>
            </li>
            <li>
                <a id="linklocation" href="/locations">Locations</a>
            </li>
            <li>
                <a id="linkorder" href="/orders">Orders</a>
            </li>
            <li>
                <a id="linklogout" href="/logout">LogOut</a>
            </li>
        </ul>
      </div>
    </nav>
    <!-- Page Content -->














  <!-- Footer -->
  <footer id="footer" class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase"></h5>
            <p>Cats always land on their feet. Catapulting them with your delivery ensures the fastest
              delivery on the planet.<br>
              Hot and fresh, straight out of our kitchen!
            </p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Hey</a>
                </li>
                <li>
                  <a href="#!">There</a>
                </li>
                <li>
                  <a href="#!">:)</a>
                </li>
                <li>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/">Tacocat.com <br>
        All Rights Reserved.</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


</body>



<!-- Add font awesome icons -->

<style media="screen">
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background: #fff;
  color: #000;
  transition: all 0.3s;
}
.sidebar-header{
  margin-bottom: 100px;
}
#navtitle {
  margin-top: 50px;
  margin-bottom: -5px;
  z-index: 2;
}
.navbarbootstrap {
  z-index: -1;
}

.navlinks{
width: 40px;
margin-left: 90px;
font-size: 15px;
color: #337ab7;
}
#linkhome {
  font-size: 15px;
  color: #337ab7;
}
#linkabout {
  font-size: 15px;
  color: #337ab7;
}#linkorder {
  font-size: 15px;
  color: #337ab7;
}#linkprofile {
  font-size: 15px;
  color: #337ab7;
}#linklogout {
  font-size: 15px;
  color: #337ab7;
}#linklocation {
  font-size: 15px;
  color: #337ab7;
}

</style>
