
<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <div class="container-fluid">
    <div class="sidenav">
        <%=image_tag "1012187_1.jpg", :size => "200x200"%>
        <h1 class ="title" id="logincenter" class="indexcat">TACOCAT</h1>
      <div class="social">
          <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-facebook" target="_blank"></a>
          <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-youtube" target="_blank"></a>
          <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-snapchat" target="_blank"></a>
          <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-instagram" target="_blank"></a>
          <a href="https://www.youtube.com/watch?v=zLZKuAY2tkc" class="fa fa-spotify" target="_blank"></a>
      </div>
      <nav class="nav">
        <ul class="nav-primary-links">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="<%=user_path(current_user)%>">Profile</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/orders">Order</a></li>
          <li class="nav-item"><a href="/locations">Locations</a></li>
          <li class="nav-item"><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>



  <!-- Footer -->
  <footer id="footer" class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase"></h5>
            <p>Cats always land on their feet. Catapulting them with your delivery ensures the fastest
              delivery on the planet.<br>
              Hot and fresh, straight out of our kitchen!
            </p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Hey</a>
                </li>
                <li>
                  <a href="#!">There</a>
                </li>
                <li>
                  <a href="#!">:)</a>
                </li>
                <li>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/">Tacocat.com <br>
        All Rights Reserved.</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


</body>



<!-- Add font awesome icons -->
