<div class="container">

  <!-- Row 1 -->

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11 text-center">
      <h1>Edit Your Perfect Taco </h1>
    </div>
  </div>

  <!-- Row 2 -->

  <div class="row">
    <div class="col-12">
      <br>
    </div>
  </div>

  <!-- Row 3 -->

  <div class="row">

    <div class="col-1">

    </div>

    <div class="col-11">
        <%= render partial: 'form', locals: {taco: @taco} %>
    </div>


  </div>

</div>
