<h2>Welcome <%= current_user.name %></h2>

<h2><%=link_to "Create an order?", '/orders'%></h2>

<h2><%=link_to "View your profile?", user_path(current_user)%></h2>

<h3><%=link_to "Logout?", '/logout'%></h3>
