<style>

  /* .grid_wrapper {
    width: 50%;
    margin: auto;
  } */

  /* .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  } */

  .wrapper>div {
    padding: 20px
  }

  .create_account {
    padding: 20px;
    font-size: 10px;
  }
  .login {

  }
</style>


<div class="grid_wrapper">
  <div class="grid">
    <div id="logincenter" class="login">
      <%= render partial: 'sessions/form' %>

    </div>

    <div id="logincenter" class="create_account">
      <%= link_to "create an account", new_user_path%>
    </div>
  </div>
</div>
