<style>

  .wrapper>div {
    padding: 20px
  }

  .create_account {
    padding: 20px;
    font-size: 10px;
  }
  .login {

  }

  img {
    display: block;
     margin-left: auto;
     margin-right: auto;
    max-width: 100%;
       height: auto;
  }

  .title {
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;

  }

  .giant_wrapper {
    margin-top: 85px;
  }

</style>
<div class="giant_wrapper">
  <h1 class ="title" id="titleindex">TACOCAT</h1>
  <%=image_tag "Taco_Cat.gif"%>

  <div class="grid_wrapper">
    <div class="grid">
      <div class="login">
        <%= render partial: 'sessions/form' %>

      </div>

      <div class="create_account">
        <%= link_to "create an account", new_user_path%>
      </div>
    </div>
  </div>
</div>
