
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <h1>🌮 ABOUT TACOCAT 🌮</h1>

      <p>The world has changed.</p>

      <p>I feel it in the lettuce.</p>

      <p>I feel it in the salsa.</p>

      <p>I smell it in the queso.</p>

      <p>It's raining tacos. Tacos are falling from the sky. But who will deliver them?</p>

      <p>Fortunately cats stepped forward to save the world from the rain of tacos.</p>

      <p>They deliver tacos. They will deliver a taco right to you!</p>

      <p>The hero cats who stepped forward contacted developers PATTI and SAM.</p>

      <p>The result of this collaboration was TACOCAT.</p>

      <p>(TACOCAT's tacos are the most affordable because we don't have to pay the cats)</p>
    </div>
  </div>
  <hr>
  <div class="row ourteam">
    <div class="col-2">
    </div>
    <div class="col-10">
      <h2>OUR TEAM</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-5">
      <h3>Picture of Patti will go here</h3>
      <h3>Patti</h3>

    </div>
    <div class="col-5">
      <h3>Picture of Sam will go here</h3>
      <h3>Sam</h3>
    </div>
  </div>
</div>

<style media="screen">



</style>
