<div class="container">
  <div class="row">
    <div class="col-5">

    </div>
    <div class="col-7 text-center center-block">
      <h1>Our Locations</h1>
    </div>
  </div>

<div class="row">
  <div class="col-5">

  </div>
  <div class="col-7">
    <div>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-gNiTHvvvqD6qvPWwQVB2J2RqYE9pq0S"
    width="640" height="480"></iframe>
    </div>
  </div>
</div>










</div>




<%= render partial: 'location', collection: @locations %>
