<h1>Locations Index</h1>

<%= render partial: 'location', collection: @locations %>



<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-gNiTHvvvqD6qvPWwQVB2J2RqYE9pq0S" width="640" height="480"></iframe>
