// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


    .wrapper>div {
      padding: 20px
    }

    .title {
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
    font-size: 36px;
    }

    .giant_wrapper {
      margin-top: 85px;
    }
