<h1>Your Current Order </h1>
<ul>
<% @user.tacos.each_with_index do |taco, index|%>
  <% indexplusone = index + 1 %>
  <li><%= taco.generate_name %> |</li>
  <li>Price: $<%= taco.taco_price %> </li><br>
<% end %>
</ul>
<h3>Total Order Cost: $<%=@user.total %></h3>

<h2>Thank you for ordering!</h2>
